* {
 	/*outline: red dashed 1px; */
 	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 20px;

	height: 100vh;
	
	background-color: #2f2f2f;

}

.container {
	display: flex;
	flex-flow: column nowrap;

	height: 500px;
	width: 500px;

	background-color: white;
	box-shadow: 0 0 5px black;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
}

.pixel {
	min-height: 1px;
	min-width: 1px;
	flex-grow: 1;
}

.nav,
.slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.nav {
	width: 150px;
}

.slider,
.btn {
	width: 100%;
    border-radius: 3px;
    padding: .5em 1em;
    box-sizing: border-box;

    background-color: white;
    font-weight: bold;
}

.range {
    width: 90%;
}

.range::-webkit-slider-runnable-track,
.range::-moz-range-track {
    background-color: gold;
}

.range::-webkit-slider-thumb,
.range::-moz-range-thumb {
    background-color: #2f2f2f;
}

.output {
    display: block;
}

.btn {
	border: none;
}

.btn:hover {
	background-color: gold;
}