* {
/* 	outline: red dashed 1px; */
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;

	height: 100vh;
	
	background-color: #2f2f2f;

}

.container {
	display: flex;
	flex-flow: column nowrap;

	height: 500px;
	width: 500px;

	background-color: white;
	box-shadow: 0 0 5px black;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
}

.pixel {
	min-height: 1px;
	min-width: 1px;
	flex-grow: 1;
}

.nav,
.slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.slider {
    background-color: white;
    border-radius: 3px;
    padding: 5px 0;
}

.range {
    width: 90%;
}

.range::-webkit-slider-runnable-track,
.range::-moz-range-track {
    background-color: gold;
}

.range::-webkit-slider-thumb:hover,
.range::-moz-range-thumb:hover {
    background-color: #2f2f2f;
}

.output {
    display: block;
}
